<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- include Header -->
	<%- include('partials/header') %>
	<!-- Banner -->
	<div class="banner">
		<img src="https://www.google.com/imgres?q=ford%20fiesta%20venta&imgurl=https%3A%2F%2Facroadtrip.blob.core.windows.net%2Fpublicaciones-imagenes%2FSmall%2Fford%2Ffiesta%2Far%2FRT_PU_78cc53bb9ae94f7c876db464f4ff1794.webp&imgrefurl=https%3A%2F%2Fwww.autocosmos.com.ar%2Fauto%2Fusado%2Fford%2Ffiesta&docid=Gp-iL02Jkw9nNM&tbnid=zy1_K_ZDrmbpIM&vet=12ahUKEwioh5GR9NWMAxXyqJUCHbflLVEQM3oECGIQAA..i&w=480&h=270&hcb=2&ved=2ahUKEwioh5GR9NWMAxXyqJUCHbflLVEQM3oECGIQAA" alt="">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->


			<% for( let i = 0; i < productos.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos"> <!-- CHECKEAR CUANDO HAGAMOS RUTAS -->
							<figure class="product-box_image">
								<img src= <%= productos[i].imagen %>  alt="<%= productos[i].nombre %>">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombre %></h2>
								<p><%= productos[i].descripcion %></p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>


	<!-- include footer -->
	<%- include('partials/footer') %>
</body>	
</html>

<!-- CUANDO TOCAS EL PRODUCTO PARA IR AL DETALLE NO TE LLEVA -->
