<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Include Header -->
    <%- include('partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<% if (buscador.length==0) { %>
				<p>No hay resultados para su criterio de busqueda</p>
			   
			  <% } else{ %>
				<ul>
					  <% for( let i = 0; i < buscador.length; i++ ) { %>
			  
						<li><a href="/movies/detail/<%=buscador[i].id%>"><h3><%= buscador[i].title %></h3> </a></li>
				
					  <% } %>
					  <% } %>
					  </ul>



	<!-- Include footer -->
	<%- include('partials/footer') %>
</body>

</html>