<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Include Header -->
    <%- include('partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<% if (buscador.length==0) { %>
				<p>No hay resultados para su criterio de busqueda</p>
			   
			  <% }else{ %>
				<% for( let i = 0; i < buscador.length; i++ ) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<div class="prodcutosDiv">
							<section class="product-box">
								<a href="/productos/<%= buscador[i].id %>">
									<figure class="product-box_image">
										<img src= <%= buscador[i].imagen_producto %>  alt="<%= buscador[i].nombre %>">
									</figure>
									<article class="product-box_data">
										<h2><%= buscador[i].nombre %></h2>
										<p><%= buscador[i].descripcion %></p>
										<p>Comentarios: <%= buscador[i].comentarios.length %></p>
									</article>
								</a>
								<a href="/profile/<%= buscador[i].usuarios.id %>"><h4><%= buscador[i].usuarios.usuario %></h4></a>
							</section>
						</div>
					</div>
				<% } %>
			<% } %>


	<!-- Include footer -->
	<%- include('partials/footer') %>
</body>

</html>